
p {
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 3px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}

a {
	font-size: 10px;
	outline: none;
	text-decoration: none;
	color: #333;
}

small {
	font-size: 10px;
}


img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(5); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
    }

img:hover {
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1.05);
}

@media only screen and (min-width:320px) and (max-width:768px) {

    img {
         width: 100%;
         float: none;
    }
}



